.container {
  width: 780px !important;
}

.works-true {
/*  text-decoration: line-through;
*/  background: #C8FBC8 !important;
}

.fails-true {
  background: #F4C6C8 !important;
}

/*table {
    width: 69% !important;
}
*/
input[type="text"] {
    width:500px;
    margin-bottom: 0px !important;
}

.textaligncenter {
    text-align: center !important;
}

blockquote {
  padding: 6px 0px 0px 6px !important;
  margin: 0px 0px 8px 0px !important;
  border: 0px !important;
}

i {
  font-size: 1.3em;
}

.note {
  display: none;
}

span {
  font-weight: bold;
  margin: 13px 0px 6px 10px;
}

.note.fails-true {
  display: block;
}

.btn.checkbox {
  padding: 6px 5px 2px 8px;
}

form {
  margin:0 !important;
}

/*.result {
  width: 65%;
}
*/
.superreport {
  margin: 6px 0px 4px 0px;
}

.failurereport {
  margin: 6px 0px 4px 0px;
}

/*.false {
  visibility: hidden;
}
*/
th {
  text-align: left;
}